.image {
    width: 35px; height: 35px;
    box-shadow:  0px 1px  8px rgba(0,0,0,.25);
}
.cardlabel {
    top: -25px;
    height: 60px;
   position:relative;
    z-index: 10;
    background: white;
    padding: 2 px;
    border-radius: 5px;
    max-width: 600px;
}
.card label {
    font-weight: 600;
}
.card-package{
    background-color: aqua;
}
.active {
    border-bottom: 3px solid orange;
}
@media(max-width:670px) {
    .cardlabel{
        margin-left: 20px;margin-right:20px;
        max-width: 380px;
    }
}